<template>
  <div class="w3-padding-16 w3-container w3-theme-l4 ppa-view-container">
    <div class="w3-border w3-border-theme ppa-view-container">
      <div class="w3-theme ppa-view-header">
        <div class="w3-bar">
          <div class="w3-right">
            <span class="w3-hide-small">
              <admin-menu />
            </span>
            <a
              class="w3-bar-item w3-right w3-hide-large w3-hide-medium w3-button w3-theme"
              v-on:click="toggleMenu"
              aria-label="Menu"
              data-test-id="burgerButton"
              >
              <font-awesome-icon :icon="['fas', 'bars']" />
            </a>
          </div>
        </div>
        <div
          id="adminSmallMenu"
          class="w3-bar-block w3-theme w3-hide-large w3-hide-medium"
          v-show="menuVisible"
          v-on:click="toggleMenu"
          data-test-id="smallMenu"
          >
          <admin-menu />
        </div>
      </div>
      <div class="ppa-view-body">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faBars } from "@fortawesome/free-solid-svg-icons";
import AdminMenu from "./AdminMenu.vue";

library.add(faBars);

const menuVisible = ref<boolean>(false);

function toggleMenu() {
  menuVisible.value = !menuVisible.value;
}
</script>
