<template>
  <span class="w3-theme">
    <router-link to="/admin/system" class="w3-bar-item w3-button w3-mobile" active-class="w3-theme-l4">{{
      t("admin.systemTab")
    }}</router-link>

    <router-link to="/admin/users/" class="w3-bar-item w3-button w3-mobile" active-class="w3-theme-l4">{{
      t("admin.usersTab")
    }}</router-link>
  </span>
</template>

<script setup lang="ts">
import { useI18n } from "vue-i18n";

const { t } = useI18n();
</script>
