.w3-theme-l5 {color:#000 !important; background-color:#f3fbf8 !important}
.w3-theme-l4 {color:#000 !important; background-color:#d9f1e6 !important}
.w3-theme-l3 {color:#000 !important; background-color:#b2e4cd !important}
.w3-theme-l2 {color:#000 !important; background-color:#8cd6b5 !important}
.w3-theme-l1 {color:#000 !important; background-color:#65c99c !important}
.w3-theme-d1 {color:#fff !important; background-color:#3aa676 !important}
.w3-theme-d2 {color:#fff !important; background-color:#349469 !important}
.w3-theme-d3 {color:#fff !important; background-color:#2d815c !important}
.w3-theme-d4 {color:#fff !important; background-color:#276f4f !important}
.w3-theme-d5 {color:#fff !important; background-color:#205c41 !important}

.w3-theme-light {color:#000 !important; background-color:#f3fbf8 !important}
.w3-theme-dark {color:#fff !important; background-color:#205c41 !important}
.w3-theme-action {color:#fff !important; background-color:#205c41 !important}

.w3-theme {color:#fff !important; background-color:#41b883 !important}
.w3-text-theme {color:#41b883 !important}
.w3-border-theme {border-color:#41b883 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#41b883 !important}
.w3-hover-text-theme:hover {color:#41b883 !important}
.w3-hover-border-theme:hover {border-color:#41b883 !important}
