<template>
  <div class="w3-container w3-black w3-center w3-padding-32 ppa-login-container">
    <div class="w3-content w3-container ppa-login-box">
      <img src="@/assets/img/app.png" alt="ballena" />
    </div>
    <div class="w3-content w3-container w3-theme ppa-login-box">
      <form v-on:submit.prevent="login" class="w3-margin-bottom" data-test-id="loginForm">
        <div class="w3-row w3-section">
          <div class="w3-col ppa-field-icon" aria-label="User">
            <font-awesome-icon :icon="['fas', 'user']" class="w3-xxlarge w3-text-theme-l5" />
          </div>
          <div class="w3-rest">
            <input
              class="w3-input w3-theme-l5"
              type="text"
              name="username"
              v-bind:placeholder="t('login.username')"
              autofocus
              v-model="username"
              data-test-id="usernameField"
            />
          </div>
        </div>
        <div class="w3-row w3-section">
          <div class="w3-col ppa-field-icon" aria-label="Password">
            <font-awesome-icon :icon="['fas', 'lock']" class="w3-xxlarge w3-text-theme-l5" />
          </div>
          <div class="w3-rest">
            <input
              class="w3-input w3-theme-l5"
              type="password"
              name="password"
              v-bind:placeholder="t('login.password')"
              v-model="password"
              data-test-id="passwordField"
            />
          </div>
        </div>
        <div class="w3-row w3-section">
          <input
            class="w3-btn w3-ripple w3-theme-l5"
            type="submit"
            v-bind:value="t('login.login')"
            name="update"
            v-bind:disabled="isLogining"
          />
        </div>
        <div class="w3-card w3-theme-l5" v-if="failed">
          {{ t("login.failed") }}
        </div>
      </form>
    </div>
    <div id="login-about" class="w3-content w3-text-theme ppa-login-box">
      <p>(C) Javier Sedano 2013-2024</p>
      <p>{{ version }}</p>
      <p>
        <a href="privacy.txt">{{ t("login.privacyPolicy") }}</a>
      </p>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";
import { useRouter } from "vue-router";
import { useI18n } from "vue-i18n";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faUser, faLock } from "@fortawesome/free-solid-svg-icons";
import { versionService } from "../../version.service";
import { useAuthenticationStore } from "./authentication.store";

library.add(faUser, faLock);

const version = ref<string>("...");
const username = ref<string>("");
const password = ref<string>("");
const failed = ref<boolean>(false);
const isLogining = ref<boolean>(false);

const { t } = useI18n();
const authenticationStore = useAuthenticationStore();
const router = useRouter();

onMounted(async () => {
  version.value = await versionService.getVersion();
});

async function login() {
  console.debug(`Logging in: ${username.value} / ********`);
  isLogining.value = true;
  try {
    await authenticationStore.login(username.value, password.value);
    console.log("Logged in:", username.value);
    failed.value = false;
    isLogining.value = false;
    const redirectUrl = authenticationStore.getRedirectUrl();
    authenticationStore.clearRedirectUrl();
    console.debug("Redirect to: ", redirectUrl);
    await router.push(redirectUrl);
  } catch (error) {
    console.warn("Authentication failure: ", error);
    failed.value = true;
    isLogining.value = false;
  }
}
</script>

<style lang="scss" scoped>
.ppa-login-container {
  height: 100%;
}

.ppa-login-box {
  max-width: 600px;
}
</style>
