<template>
  <div class="w3-main w3-container w3-theme-l4 ppa-search-detail-level2">
    <div class="w3-container w3-center w3-section w3-theme-l5" v-if="user === null">
      <p class="w3-text-theme">
        <font-awesome-icon :icon="['fas', 'sync']" aria-label="Sync" />
      </p>
    </div>
    <span v-else>
      <div class="w3-bar ppa-search-detail-header">
        <button
          class="w3-left w3-bar-item w3-button w3-ripple w3-xlarge w3-text-theme"
          v-on:click="save"
          v-bind:disabled="!user.passwordsMatch() || isSaving || isDeleting"
          aria-label="Save"
          data-test-id="saveButton"
        >
          <font-awesome-icon :icon="['fas', 'save']" />
        </button>
        <button
          class="w3-left w3-bar-item w3-button w3-ripple w3-xlarge w3-text-theme"
          v-on:click="deletee"
          v-bind:disabled="isSaving || isDeleting"
          aria-label="Delete"
          data-test-id="deleteButton"
        >
          <font-awesome-icon :icon="['fas', 'trash']" />
        </button>
      </div>
      <div class="ppa-search-detail-body">
        <div class="ppa-w3-padding-8">
          <label for="username" class="w3-text-theme">{{ t("admin.users.username") }} </label>
          <input
            id="username"
            class="w3-input w3-border"
            type="text"
            name="username"
            v-model="user.username"
            data-test-id="usernameField"
          />
        </div>
        <div class="ppa-w3-padding-8">
          <label for="hash" class="w3-text-theme">{{ t("admin.users.password") }} </label>
          <input
            id="hash"
            class="w3-input w3-border"
            type="password"
            name="hash"
            v-model="user.hash"
            data-test-id="passwordField"
          />
        </div>
        <div class="ppa-w3-padding-8">
          <label for="hashConfirmation" class="w3-text-theme"
            >{{ t("admin.users.password2") }}
            <span class="w3-text-red" v-if="!user.passwordsMatch()">{{ t("admin.users.passwordMissmatch") }}</span>
          </label>
          <input
            id="hashConfirmation"
            class="w3-input w3-border"
            type="password"
            name="hashConfirmation"
            v-model="user.hashConfirmation"
            data-test-id="passwordConfirmatonField"
          />
        </div>
        <div class="ppa-w3-padding-8">
          <input
            id="enabled"
            class="w3-check w3-margin-right"
            type="checkbox"
            name="enabled"
            v-model="user.enabled"
            data-test-id="enabledField"
          />
          <label for="enabled" class="w3-text-theme">{{ t("admin.users.enabled") }}</label>
        </div>
        <div class="ppa-w3-padding-8">
          <label for="name" class="w3-text-theme">{{ t("admin.users.name") }}</label>
          <input
            id="name"
            class="w3-input w3-border"
            type="text"
            name="name"
            v-model="user.name"
            data-test-id="nameField"
          />
        </div>
        <div class="ppa-w3-padding-8">
          <input
            id="admin"
            class="w3-check w3-margin-right"
            type="checkbox"
            name="admin"
            v-model="user.admin"
            data-test-id="adminField"
          />
          <label for="admin" class="w3-text-theme">{{ t("admin.users.admin") }}</label>
        </div>
      </div>
    </span>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue";
import { useRouter, useRoute } from "vue-router";
import { useI18n } from "vue-i18n";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faSave, faSync } from "@fortawesome/free-solid-svg-icons";
import { usersService } from "./users.service";
import { SHOWN_EVENT } from "../../../../viewmodel.constants";
import { DetailedUserViewModel } from "./DetailedUserViewModel";

library.add(faSave, faSync);

const USER_NONE_ROUTE_NAME = "AdminUserNone";

const UPDATED_EVENT = "updated";

const user = ref<DetailedUserViewModel | null>(null);
const isSaving = ref<boolean>(false);
const isDeleting = ref<boolean>(false);

const route = useRoute();
const router = useRouter();
const { t } = useI18n();

const emit = defineEmits([
  SHOWN_EVENT,
  UPDATED_EVENT,
]);

onMounted(async () => {
  const id = parseInt(route.params.id as string);
  await get(id);
  emit(SHOWN_EVENT, id);
});

async function get(id: number) {
  const detailedUser = await usersService.getUser(id);
  user.value = new DetailedUserViewModel(detailedUser);
}

async function save() {
  isSaving.value = true;
  try {
    const savedUser = await usersService.updateUser((user.value as DetailedUserViewModel).toDetailedUser());
    user.value = new DetailedUserViewModel(savedUser);
    emit(UPDATED_EVENT);
  } finally {
    isSaving.value = false;
  }
}

async function deletee() {
  isDeleting.value = true;
  try {
    await usersService.deleteUser((user.value as DetailedUserViewModel).id);
    router.push({ name: USER_NONE_ROUTE_NAME });
    emit(UPDATED_EVENT);
  } finally {
    isDeleting.value = false;
  }
}
</script>
