<template>
  <div class="w3-container ppa-main-container">
    <div v-if="isAuthenticated" data-test-id="appBar">
      <div id="app-bar" class="w3-bar w3-black ppa-view-header">
        <router-link to="/">
          <img
            class="w3-left ppa-version"
            src="@/assets/img/app_title.png"
            alt="tortuga"
            v-bind:title="version"
            data-test-id="version"
          />
        </router-link>
        <div class="w3-right">
          <div id="app-actuator" class="w3-left w3-black" v-if="isAdmin">
            <a href="/ballena/actuator" target="_blank">
              <div class="w3-button w3-text-theme" aria-label="Instrumentation">
                <font-awesome-icon :icon="['fas', 'microchip']" />
              </div>
            </a>
          </div>
          <div class="w3-dropdown-hover w3-black">
            <div class="w3-button w3-text-theme" aria-label="Flag">
              <font-awesome-icon :icon="['fas', 'flag']" />
            </div>
            <div class="w3-dropdown-content w3-bar-block w3-card w3-theme-l5 ppa-localeBox">
              <a class="w3-bar-item w3-btn" v-on:click="setLang('en')" data-test-id="enButton">
                <img src="@/assets/img/i18n/en.png" alt="English" title="English" />
              </a>
              <a class="w3-bar-item w3-btn" v-on:click="setLang('es')" data-test-id="esButton">
                <img src="@/assets/img/i18n/es.png" alt="Español" title="Español" />
              </a>
            </div>
          </div>
          <span class="w3-hide-small">
            <app-menu />
          </span>
          <a
            class="w3-bar-item w3-right w3-hide-large w3-hide-medium w3-button w3-text-theme"
            v-on:click="toggleMenu"
            data-test-id="burgerButton"
            aria-label="Menu"
          >
            <font-awesome-icon :icon="['fas', 'bars']" />
          </a>
        </div>
      </div>
      <div
        id="smallMenu"
        class="w3-bar-block w3-theme w3-hide-large w3-hide-medium"
        v-show="menuVisible"
        v-on:click="toggleMenu"
        data-test-id="smallMenu"
      >
        <app-menu />
      </div>
    </div>
    <error-render />
    <div class="ppa-view-body">
      <router-view />
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, onMounted, ref } from "vue";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faMicrochip, faFlag, faBars } from "@fortawesome/free-solid-svg-icons";
import { useI18n } from "vue-i18n";
import ErrorRender from "./error/ErrorRender.vue";
import { versionService } from "./version.service";
import { useAuthenticationStore } from "./_children/login/authentication.store";

import AppMenu from "./AppMenu.vue";

const APP_LANG_LOCALSTORAGE_KEY = "ballenaLang";

library.add(faMicrochip, faFlag, faBars);

const version = ref<string>("...");
const menuVisible = ref<boolean>(false);

const { locale } = useI18n();
const authenticationStore = useAuthenticationStore();

const isAuthenticated = computed(() => authenticationStore.isAuthenticated());
const isAdmin = computed(() => authenticationStore.isAdmin());

function toggleMenu(): void {
  menuVisible.value = !menuVisible.value;
}

function setLang(lang: string): void {
  localStorage.setItem(APP_LANG_LOCALSTORAGE_KEY, lang);
  locale.value = lang;
}

onMounted(async () => {
  authenticationStore.refresh();
  version.value = await versionService.getVersion();
  console.log("Mounted");
  const lang = localStorage.getItem(APP_LANG_LOCALSTORAGE_KEY);
  if (lang != null) {
    locale.value = lang;
  }
});
</script>

<style lang="scss">
$ppa-w3-screen-width-small: 601px;
$ppa-w3-screen-width-medium: 993px;
$ppa-w3-screen-width-large: 1205px;

.ppa-field-icon {
  width: 50px;
  padding: 0px;
}

.ppa-btnlike-padding-top {
  padding-top: 8px;
}

.ppa-w3-padding-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

$ppa-border-padding: 16px;

.ppa-main-container {
  padding-bottom: $ppa-border-padding;
  height: 100vh;
}

.ppa-view-container {
  height: 100%;
  overflow: auto;
}

$ppa-view-header-height: 38px;

.ppa-view-header {
  /* Intentionally blank... by now */
  overflow: hidden;
}

$ppa-view-body-border: 1px;

.ppa-view-body {
  height: calc(100% - #{$ppa-view-header-height});
  overflow: auto;
}

@function ppa-waste-height-level($level) {
  $main-waste: $ppa-view-header-height + $ppa-border-padding;
  $one-level-waste: 2 * ($ppa-border-padding + $ppa-view-body-border) + $ppa-view-header-height;
  $level-waste: $main-waste + ($level - 1) * $one-level-waste;
  @return $level-waste;
}

@function ppa-search-master-waste-width-level($level) {
  $main-waste: 2 * $ppa-border-padding;
  $one-level-waste: 2 * ($ppa-border-padding + $ppa-view-body-border);
  $level-waste: $main-waste + ($level - 1) * $one-level-waste;
  @return $level-waste;
}

$ppa-search-tiny-width: 36px;

@mixin ppa-search-common {
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
}

@mixin ppa-search-tiny-common($waste-height) {
  @include ppa-search-common;
  width: $ppa-search-tiny-width;
  height: calc(100% - #{$waste-height});
}

.ppa-search-tiny-level1 {
  @include ppa-search-tiny-common(ppa-waste-height-level(1));
}

.ppa-search-tiny-level2 {
  @include ppa-search-tiny-common(ppa-waste-height-level(2));
}

.ppa-search-tiny-icon {
  padding: 8px 0px 16px 0px;
}

@mixin ppa-search-master-common($waste-height, $waste-width) {
  @include ppa-search-common;
  padding-bottom: $ppa-border-padding;
  height: calc(100% - #{$waste-height});
  width: calc(100% - #{$waste-width});
}
.ppa-search-master-level1 {
  @include ppa-search-master-common(#{ppa-waste-height-level(1)}, #{ppa-search-master-waste-width-level(1)});
}
.ppa-search-master-level2 {
  @include ppa-search-master-common(#{ppa-waste-height-level(2)}, #{ppa-search-master-waste-width-level(2)});
}

@mixin ppa-search-detail-common {
  height: 100%;
  padding-bottom: $ppa-border-padding;
}

.ppa-search-detail-level1 {
  @include ppa-search-detail-common();
  margin-left: $ppa-search-tiny-width !important;
}
.ppa-search-detail-level2 {
  @include ppa-search-detail-common();
  margin-left: $ppa-search-tiny-width !important;
}

@media (min-width: $ppa-w3-screen-width-small) {
  $ppa-search-master-width-small: 60%;

  .ppa-search-master-level1 {
    width: $ppa-search-master-width-small;
  }
  .ppa-search-master-level2 {
    width: $ppa-search-master-width-small;
  }
}

@media (min-width: $ppa-w3-screen-width-medium) {
  $ppa-search-master-width-medium: 33%;

  .ppa-search-master-level1 {
    width: $ppa-search-master-width-medium;
    display: block !important;
  }
  .ppa-search-master-level2 {
    width: $ppa-search-master-width-medium;
    display: block !important;
  }

  .ppa-search-detail-level1 {
    margin-left: calc(#{$ppa-search-master-width-medium} + #{$ppa-border-padding}) !important;
  }
  .ppa-search-detail-level2 {
    margin-left: calc(#{$ppa-search-master-width-medium} + #{$ppa-border-padding}) !important;
  }
}

@media (min-width: $ppa-w3-screen-width-large) {
  $ppa-search-master-width-large: 25%;

  .ppa-search-master-level1 {
    width: $ppa-search-master-width-large;
    display: block !important;
  }
  .ppa-search-master-level2 {
    width: $ppa-search-master-width-large;
    display: block !important;
  }

  .ppa-search-detail-level1 {
    margin-left: calc(#{$ppa-search-master-width-large} + #{$ppa-border-padding}) !important;
  }
  .ppa-search-detail-level2 {
    margin-left: calc(#{$ppa-search-master-width-large} + #{$ppa-border-padding}) !important;
  }
}

$ppa-search-master-header-height: 52px;

.ppa-search-master-header {
  /* Intentionally blank... by now */
  overflow: hidden;
}

.ppa-search-master-body {
  height: calc(100% - #{$ppa-search-master-header-height});
  overflow: auto;
}

$ppa-search-detail-header-height: 52px;

.ppa-search-detail-header {
  /* Intentionally blank... by now */
  overflow: hidden;
}

.ppa-search-detail-body {
  height: calc(100% - #{$ppa-search-detail-header-height});
  overflow: auto;
}

.ppa-localeBox {
  min-width: 1px;
}
</style>
