<template>
  <span class="w3-theme">
    <router-link to="/notes/" class="w3-bar-item w3-button w3-mobile" active-class="w3-theme-l4" v-if="isUser">{{
      t("app.notesTab")
    }}</router-link>

    <router-link to="/admin/" class="w3-bar-item w3-button w3-mobile" active-class="w3-theme-l4" v-if="isAdmin">{{
      t("app.adminTab")
    }}</router-link>
    <a class="w3-bar-item w3-button w3-mobile" v-on:click="logout" v-if="isAuthenticated" data-test-id="logoutButton">{{
      t("app.logout", {
        username: username,
      })
    }}</a>
  </span>
</template>

<script setup lang="ts">
import { computed } from "vue";
import { useRouter } from "vue-router";
import { useI18n } from "vue-i18n";
import { useAuthenticationStore } from "./_children/login/authentication.store";

const LOGOUT_REDIRECT = "/login";

const { t } = useI18n();
const authenticationStore = useAuthenticationStore();
const router = useRouter();

const isAuthenticated = computed(() => authenticationStore.isAuthenticated());
const isAdmin = computed(() => authenticationStore.isAdmin());
const isUser = computed(() => authenticationStore.isUser());
const username = computed(() => authenticationStore.username());

async function logout(): Promise<void> {
  authenticationStore.logout();
  await router.push(LOGOUT_REDIRECT);
}
</script>
