<template>
  <div class="w3-main w3-container w3-theme-l4 ppa-search-detail-level2">
    <div class="w3-container w3-section w3-theme-l5">
      <p class="w3-text-theme">{{ t("common.empty") }}</p>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted } from "vue";
import { useI18n } from "vue-i18n";
import { SHOWN_EVENT } from "./viewmodel.constants";

const { t } = useI18n();

const emit = defineEmits([
  SHOWN_EVENT,
]);

onMounted(() => {
  emit(SHOWN_EVENT, undefined);
});
</script>
