<template>
  <span>
    <h2>{{ t("common.notFound") }}</h2>
    <p>{{ t("common.notFoundMessage") }}</p>
  </span>
</template>

<script setup lang="ts">
import { useI18n } from "vue-i18n";

const { t } = useI18n();
</script>
