<template>
  <div id="app-error-dialog" class="w3-modal ppa-ajax-error" v-if="errorMessage" data-test-id="errorDialog">
    <div class="w3-modal-content w3-card">
      <header class="w3-container w3-theme">
        <h2><font-awesome-icon :icon="['fas', 'exclamation-triangle']" />{{ t("error.title") }}</h2>
      </header>
      <div class="w3-container w3-theme-l5">
        <p data-test-id="errorMessage">{{ errorMessage }}</p>
      </div>
      <footer class="w3-bar w3-theme w3-padding">
        <div class="w3-right">
          <a class="w3-bar-item w3-button w3-theme-l5" v-on:click="dismissError" data-test-id="okButton">{{
            t("error.ok")
          }}</a>
        </div>
      </footer>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useI18n } from "vue-i18n";
import { storeToRefs } from "pinia";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faExclamationTriangle } from "@fortawesome/free-solid-svg-icons";
import { useErrorStore } from "./error.store";

library.add(faExclamationTriangle);

const { t } = useI18n();
const errorStore = useErrorStore();

const { errorMessage } = storeToRefs(errorStore);

function dismissError(): void {
  errorStore.clearErrorMessage();
}
</script>

<style lang="scss" scoped>
.ppa-ajax-error {
  display: block;
}
</style>
