<template>
  <div class="w3-main w3-container w3-theme-l4 ppa-search-detail-level1">
    <div class="w3-container w3-center w3-section w3-theme-l5" v-if="note === null">
      <p class="w3-text-theme">
        <font-awesome-icon :icon="['fas', 'sync']" aria-label="Sync" />
      </p>
    </div>
    <span v-else>
      <div class="w3-bar ppa-search-detail-header">
        <button
          class="w3-left w3-bar-item w3-button w3-ripple w3-xlarge w3-text-theme"
          v-on:click="save"
          v-bind:disabled="isSaving || isDeleting"
          aria-label="Save"
          data-test-id="saveButton"
        >
          <font-awesome-icon :icon="['fas', 'save']" />
        </button>
        <button
          class="w3-left w3-bar-item w3-button w3-ripple w3-xlarge w3-text-theme"
          v-on:click="deletee"
          v-bind:disabled="isSaving || isDeleting"
          aria-label="Delete"
          data-test-id="deleteButton"
        >
          <font-awesome-icon :icon="['fas', 'trash']" />
        </button>
      </div>
      <div class="ppa-search-detail-body">
        <input
          class="w3-input w3-theme-l5"
          name="title"
          type="text"
          size="40"
          v-model="note.title"
          data-test-id="titleField"
        />
        <textarea
          class="w3-input w3-theme-l5"
          rows="20"
          cols="80"
          name="content"
          v-model="note.content"
          data-test-id="contentField"
        ></textarea>
      </div>
    </span>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue";
import { useRouter, useRoute } from "vue-router";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faSave, faSync } from "@fortawesome/free-solid-svg-icons";
import { notesService, type DetailedNote } from "./notes.service";
import { SHOWN_EVENT } from "../../viewmodel.constants";

library.add(faSave, faSync);

const NOTE_NONE_ROUTE_NAME = "NoteNone";

const UPDATED_EVENT = "updated";

const note = ref<DetailedNote | null>(null);
const isSaving = ref<boolean>(false);
const isDeleting = ref<boolean>(false);

const route = useRoute();
const router = useRouter();

const emit = defineEmits([
  SHOWN_EVENT,
  UPDATED_EVENT,
]);

onMounted(async () => {
  const id = parseInt(route.params.id as string);
  await get(id);
  emit(SHOWN_EVENT, id);
});

async function get(id: number) {
  note.value = await notesService.getNote(id);
}

async function save() {
  isSaving.value = true;
  try {
    const savedNote = await notesService.updateNote(note.value as DetailedNote);
    note.value = savedNote;
    emit(UPDATED_EVENT);
  } finally {
    isSaving.value = false;
  }
}

async function deletee() {
  isDeleting.value = true;
  try {
    await notesService.deleteNote((note.value as DetailedNote).id);
    router.push({ name: NOTE_NONE_ROUTE_NAME });
    emit(UPDATED_EVENT);
  } finally {
    isDeleting.value = false;
  }
}
</script>
