<template>
  <div class="ppa-view-container">
    <div class="w3-hide-large ppa-search-tiny-level1">
      <div class="w3-row w3-section">
        <button
          class="w3-col w3-button w3-ripple w3-right w3-xlarge w3-text-theme ppa-search-tiny-icon"
          v-on:click="toggleShowSmallSearchPanel"
          aria-label="Search"
          data-test-id="showSmallSearchButton"
        >
          <font-awesome-icon :icon="['fas', 'search']" />
        </button>
        <button
          class="w3-col w3-button w3-ripple w3-right w3-xlarge w3-text-theme ppa-search-tiny-icon"
          v-on:click="add"
          v-bind:disabled="isAdding"
          aria-label="Add"
        >
          <font-awesome-icon :icon="['fas', 'plus']" />
        </button>
      </div>
    </div>

    <div class="w3-container ppa-search-master-level1" v-show="showSmallSearchPanel" data-test-id="smallSearchPanel">
      <div class="w3-row ppa-search-master-header">
        <button
          class="w3-button w3-ripple w3-left w3-xlarge w3-text-theme"
          v-bind:disabled="isFinding"
          v-if="!isFinding"
          v-on:click="find"
          data-test-id="findButton"
        >
          <font-awesome-icon :icon="['fas', 'search']" aria-label="Search" />
        </button>
        <button
          class="w3-button w3-ripple w3-left w3-xlarge w3-text-theme"
          v-bind:disabled="isFinding"
          v-if="isFinding"
        >
          <font-awesome-icon :icon="['fas', 'sync']" aria-label="Searching" />
        </button>
        <button
          class="w3-button w3-ripple w3-right w3-xlarge w3-text-theme w3-hide-large"
          v-on:click="toggleShowSmallSearchPanel"
          aria-label="Close"
          data-test-id="hideSmallSearchButton"
        >
          <font-awesome-icon :icon="['fas', 'angle-left']" />
        </button>
        <button
          class="w3-button w3-ripple w3-right w3-xlarge w3-text-theme"
          v-on:click="add"
          v-bind:disabled="isAdding"
          data-test-id="addButton"
        >
          <font-awesome-icon :icon="['fas', 'plus']" aria-label="Add" />
        </button>
        <div class="w3-rest ppa-btnlike-padding-top">
          <input
            class="w3-input w3-theme-l5"
            type="text"
            v-bind:placeholder="t('common.filter')"
            v-model="filter"
            v-on:keyup="find"
            data-test-id="filterField"
          />
        </div>
      </div>
      <div id="notes-search-results" class="ppa-search-master-body" v-infinite-scroll="[findMore, { distance: 100 }]">
        <ul class="w3-ul w3-border w3-theme w3-card">
          <li v-for="note in notes" :key="note.id">
            <router-link
              v-bind:to="'' + note.id"
              class="w3-button w3-ripple w3-block w3-left-align"
              v-bind:class="{
                'w3-theme-d5': note.id === selectedNoteId,
              }"
              >{{ note.title }}</router-link
            >
          </li>
        </ul>
      </div>
    </div>
    <router-view v-on:updated="find" v-on:shown="selectNote" :key="route.fullPath" />
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue";
import { useRouter, useRoute } from "vue-router";
import { useI18n } from "vue-i18n";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faSearch, faPlus, faSync, faAngleLeft, faSave, faTrash } from "@fortawesome/free-solid-svg-icons";
import { throttle } from "lodash";
import { vInfiniteScroll } from "@vueuse/components";
import { notesService, type MinimalNote } from "./notes.service";
import { unconcurrent } from "../../unconcurrent";

library.add(faSearch, faPlus, faSync, faAngleLeft, faSave, faTrash);

const NOTE_DETAILS_ROUTE_NAME = "NoteDetails";

const selectedNoteId = ref<number | null>(null);
const showSmallSearchPanel = ref<boolean>(false);
const isFinding = ref<boolean>(false);
const isAdding = ref<boolean>(false);
const filter = ref<string>("");
const notes = ref<MinimalNote[]>([]);

const router = useRouter();
const route = useRoute();
const { t } = useI18n();

onMounted(async () => {
  await find();
});

const find = async (): Promise<void> => {
  notes.value = [];
  await findMore();
};

const findMore = throttle(
  unconcurrent(async (): Promise<void> => {
    isFinding.value = true;
    try {
      const moreNotes = await notesService.findNotes(filter.value, notes.value.length);
      notes.value.push(...moreNotes);
    } finally {
      isFinding.value = false;
    }
  }),
  import.meta.env.VITE_THROTTLE,
);

async function add(): Promise<void> {
  isAdding.value = true;
  try {
    const noteId = await notesService.createNote();
    await find();
    router.push({ name: NOTE_DETAILS_ROUTE_NAME, params: { id: noteId } });
  } finally {
    isAdding.value = false;
  }
}

async function selectNote(id: number): Promise<void> {
  selectedNoteId.value = id;
  showSmallSearchPanel.value = false;
}

function toggleShowSmallSearchPanel() {
  showSmallSearchPanel.value = !showSmallSearchPanel.value;
}
</script>
