<template>
  <div class="w3-container w3-padding w3-theme-l4 ppa-view-container">
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
    <h2>{{ t("admin.system.notice") }}</h2>
  </div>
</template>

<script setup lang="ts">
import { useI18n } from "vue-i18n";

const { t } = useI18n();
</script>
