<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Error</title>
</head>
<body>
<h1>Ups!</h1>
<table aria-describedby="Error details">
  <tr>
    <th scope="col">Key</th>
    <th scope="col">Value</th>
  </tr>
  <tr>
    <td>Date</td>
    <td th:text="${timestamp}"/>
  </tr>
  <tr>
    <td>Path</td>
    <td th:text="${path}"/>
  </tr>
  <tr>
    <td>Error</td>
    <td th:text="${error}"/>
  </tr>
  <tr>
    <td>Status</td>
    <td th:text="${status}"/>
  </tr>
  <tr>
    <td>Message</td>
    <td th:text="${message}"/>
  </tr>
  <tr>
    <td>Exception</td>
    <td th:text="${exception}"/>
  </tr>
  <tr>
    <td>Trace</td>
    <td>
      <pre th:text="${trace}"/>
    </td>
  </tr>
</table>
<a th:href="@{/}" href="/">Home</a>
</body>
</html>
